<launch>
  <node name="i2c_interface_node" pkg="eurobot2019_i2c_interface" type="node"
        output="screen"/>
  <!-- Params to set initial position + orientation for Odometry -->
    <param name="pose_point_x" value="0" type="double"/>
    <param name="pose_point_y" value="0" type="double"/>
    <param name="pose_point_z" value="0" type="double"/>
    <param name="pose_orientation_quaternion_x" value="0" type="double"/>
    <param name="pose_orientation_quaternion_y" value="0" type="double"/>
    <param name="pose_orientation_quaternion_z" value="0" type="double"/>
    <param name="pose_orientation_quaternion_w" value="0" type="double"/>
    <param name="twist_linear_x" value="0" type="double"/>
    <param name="twist_linear_y" value="0" type="double"/>
    <param name="twist_linear_z" value="0" type="double"/>
    <param name="twist_angular_x" value="0" type="double"/>
    <param name="twist_angular_y" value="0" type="double"/>
    <param name="twist_angular_z" value="0" type="double"/>
    <!-- This Param directly gives initial z-axis, 2-D, angular orientation for Odometry -->
    <param name="pose_orientation_angular" value="0" type="double"/>
    <!-- This is the maximum value to accept from odom before ignoring and using the previous value -->
    <param name="max_wheel_vel" value="14" type="double"/>
</launch>
