<launch>
    <node pkg="eurobot2019_pickup" type="node" name="pickup"
          output="screen">
        <!-- Parameters change the settings when the node is launched -->
        <!-- Units are mm and radians -->
        <param name="idle_out_lift" type="int" value="0"/>
        <param name="idle_out_twist" type="int" value="0"/>
        <param name="idle_back_lift" type="int" value="3"/>
        <param name="idle_back_twist" type="int" value="0"/>
        <param name="vertical_lift" type="int" value="0"/>
        <param name="close_pos" type="bool" value="0"/>
        <param name="open_close" type="bool" value="0"/>
        <param name="depositing_lift" type="int" value="3"/>
        <param name="depositing_green_twist" type="int" value="0"/>
        <param name="depositing_blue_twist" type="int" value="2"/>
        <param name="depositing_red_twist" type="int" value="2"/>
    </node>
</launch>
